    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="{{this.pincode}}" id="floatingInput" placeholder="Pincode" name="pincode">
            <label for="floatingInput">Pincode</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="{{this.hospital}}" id="floatingInput" placeholder="Hospital" name="hospital">
            <label for="floatingInput">Hospital</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="{{this.state}}" id="floatingInput" placeholder="State" name="state">
            <label for="floatingInput">State</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="{{this.district}}" id="floatingInput" placeholder="District" name="district">
            <label for="floatingInput">District</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="{{this.beds}}" id="floatingInput" placeholder="Total Number Of Beds" name="beds">
            <label for="floatingInput">Total Number Of Oxygen Beds</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="{{this.oxygentanks}}" id="floatingInput" placeholder="Total Number Of Oxygen tanks" name="oxygentanks">
            <label for="floatingInput">Total Number Of Remdesivirs</label>
        </div>
    </div>
    
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit" style="height: 60px;">Submit</button>
    </div>